@charset "UTF-8";

body{
    position: absolute;
    background-color: #111b31;
    width: auto;
    height: auto;

}

div#interface_principal{
    position: fixed;
    padding-top: 20px;
    right: calc(50% - 400px);
    top: calc(50% - 400px);
    background-color: white;
    width: auto;
    height: auto;
    margin: 60px auto;
    border: none;
    border-radius: 30px;
    box-shadow: 1px 1px 3px rgba(255,255,255,0.8);
}

header#cabecalho{
    min-height: 212px;
    width: 800px;
    box-sizing: border-box;
    text-align: center;
}

header#cabecalho img{
    margin: 1px;
    margin-bottom: -1px;
    width: 250px;
    height: 212px;
}

section#corpo{
    text-align: center;
    width: 800px;
    height: 300px;

}

section#corpo table{
    padding: 0px;
    margin: auto;
    margin-top: 30px;
    width: 380px;
    height: 234px;

}

section#corpo table td{
    transition: 1s;
    font-family: Verdana,Arial, Helvetica, sans-serif;
    background-color: #cccccc;

}

section#corpo table td:hover{
    background-color: #111b31;
    color: aliceblue;
    cursor: pointer;
}

footer#rodape{
    text-align: center;
    margin: auto;
    font-family: Verdana,Arial, Helvetica, sans-serif;
}

div.form-esquerda{
    margin-top: 40px;
    padding: 5px;
    width: 250px;
    float: left;
    margin-left: 20px;
    position: relative;

}

input{
    text-transform: uppercase;
}

div.form-esquerda div.alinhamento  {
    text-align: right;
}

div.rodape{
    

    clear:both;
    float: bottom;
}


